    <script src="http://localhost:3001/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect('http://localhost:3001');
      socket.on('test', function (data) {
        console.log(data);
      });
    </script>

  </body>
</html>
