<html>
<head>
  <title><%= name %></title>
  <% include style %>
</head>
<body>

  <header>
    <div class="inner">
      <h1><%= name %></h1>
      <h2><%= title %></h2>
    </div>
  </header>

  <div class="inner" role="main">
