<% include head %>
    <ul id="queues">
      <% for (var i = 0; i < queues.length; i++) {
      var queue = queues[i];
      %>
        <% include queueList %>
      <% } %>

    </ul>

  </div>

  <div id="base-queue" style="display:none">
    <% var queue = {name:'test', data:{}}; %>
    <% include queueList %>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>

  <script>
  var socket = io.connect();

  var queueList = $('#base-queue li');



  $('#queues').on('click', 'li', function() {
    window.location = '/' + $(this).data('name');
  });

  socket.on('state', function (data) {
    var q = $('li[data-name='+data.queue+']')

    if (!q.length) {
      q = queueList.appendTo('#queues').data('name', data.queue);
      q.find('h3').text(data.queue);
    }

    for (var i in data.queueInfo) {
      q.find('.'+i+' span').text(data.queueInfo[i]);
    }
  });

  socket.on('progress', function (data) {
    console.log(data);
  });

  socket.on('queue', function (data) {
    console.log(data);
  });

  socket.on('log', function (data) {
    console.log(data);
  });

  </script>

</body>
</html>
